.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-me {
  line-height: 2;
}

.about-social {
  a {
    color: #fff;
  }
  svg {
    font-size: 2rem;
    margin: 0 0.8rem;
  }
  padding-bottom: 2rem;
}
