.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-me {
    line-height: 2;
    font-size: 1.3rem;
  }

  &-social {
    padding-bottom: 2rem;

    a {
      color: #fff;
    }
    svg {
      font-size: 2rem;
      margin: 0 0.8rem;
    }
  }
}
