.card {
  background: var(--dark-purple);
  border-radius: 2px;
  width: var(--med-width) !important;
  border: 0;

  &:nth-child(odd) {
    margin-right: 3% !important;
  }

  &-body {
    height: 160px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-title {
    font-weight: bold;
    font-size: 1.1rem;
    flex: 1;
  }

  &-subtitle {
    color: var(--white-less);
  }

  &-img {
    width: auto;
    height: 160px;
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &-tech {
    font-weight: bold;
    color: var(--mid-blue);
  }
}

.live-link {
  margin-right: 1rem;
}

.code-link,
.live-link {
  color: var(--mid-blue);
}

@media (max-width: 1200px) {
  .card {
    width: var(--small-width) !important;

    &:nth-child(odd) {
      margin-right: 0 !important;
    }

    &-body {
      height: auto;
    }
  }
}

@media (max-width: 700px) {
  .card {
    width: var(--small-width) !important;

    &-img {
      display: none;
    }
  }
}
