.nav {
  flex-shrink: 0;
  flex-direction: row;
  line-height: 2;
  background: var(--white-transparent);

  &-name,
  &-item {
    font-family: "Patua One", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.1rem;
  }

  &-item {
    margin-left: 1.5rem;
  }

  &-name:hover {
    text-decoration: none;
    color: white;
  }

  &-list {
    flex-direction: row;
  }
}

.nav-name,
.nav-item {
  font-family: "Patua One", cursive;
  font-weight: normal;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.1rem;
}

.nav-name:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .nav,
  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin: 0;
  }
}
