.resume {
  text-align: center;

  &-download {
    font-family: "Patua One", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important;
  }
}
