@import url("https://fonts.googleapis.com/css?family=Patua+One|Tajawal:200,700");
@import "stars";
@import "about";
@import "nav";
@import "card";

:root {
  --white-transparent: rgba(255, 255, 255, 0.219);
  --white-less: rgb(193, 173, 239);
  --bluish-white: rgb(219, 217, 224);
  --dark-purple: rgb(36, 15, 84);
  --cool-blue: rgb(68, 11, 200);
  --mid-blue: rgb(156, 140, 193);
  --med-width: 47%;
  --small-width: 100%;
}

html {
  height: 100vh;
}

body {
  color: #fff;
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  height: 100vh;
  overflow: hidden;
  background: rgb(36, 15, 84);
  background: linear-gradient(180deg, rgba(36, 15, 84, 1) 0%, rgba(36, 15, 84, 1) 5%, rgba(68, 11, 200, 1) 100%);
  background-repeat: no-repeat;
}

.hills {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  flex-grow: 1;
  overflow-y: auto;
}

p {
  font-size: 1.1rem;
  color: var(--bluish-white);
}

span {
  font-weight: bold;
}

.opening {
  font-family: "Patua One", cursive;
  font-weight: normal;
  letter-spacing: 1px;
}

.current-page,
a:hover {
  color: var(--white-less) !important;
}
