@import url('https://fonts.googleapis.com/css?family=Patua+One|Tajawal:200,700');

html {
  height: 100vh;
}

:root, .app {
  width: 100vw;
}

:root {
  --white-transparent: rgba(255, 255, 255, 0.219);
  --white-less: rgb(193, 173, 239);
  --bluish-white: rgb(219, 217, 224);
  --dark-purple: rgb(36,15,84);
  --cool-blue: rgba(68,11,200,1);
  --mid-blue: rgb(156, 140, 193);
  --med-width: 47%;
  --small-width: 100%;
}

body {
  color: #fff;
  font-family: 'Tajawal', sans-serif;
  font-weight: 200;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: rgb(36,15,84);
  background: linear-gradient(180deg, rgba(36,15,84,1) 0%, rgba(36,15,84,1) 5%, rgba(68,11,200,1) 100%);
}

p {
  font-size: 1.1rem;
  color: var(--bluish-white);
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

span {
  font-weight: bold;
}

/* Classes */

.opening {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  letter-spacing: 1px;
}

.about-me, .nav {
  line-height: 2;
}

.nav {
  background: var(--white-transparent);
}

.nav-name, .nav-item {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  color: #fff;
}

.current-page, a:hover {
  color: var(--white-less) !important;
}

/* Education */

.card {
  background: var(--dark-purple);
  border-radius: 2px;
  width: var(--med-width) !important;
  border: 0;
}

.card:nth-child(odd) {
  margin-right: 3% !important;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem; 
}

.card-subtitle {
  color: var(--white-less);
}

.card-img {
  width: auto;
  height: 160px;
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.card-link:hover img {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}

.card-tech {
  font-weight: bold;
  color: var(--mid-blue);
}

/* SVG */

svg.hills {
    bottom: 0 !important;
    position: absolute;
    height: auto;
}