@import url('https://fonts.googleapis.com/css?family=Patua+One|Tajawal:300,700');

html {
  height: 100vh;
}

body {
  color: #fff;
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  line-height: 2;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: rgb(36,15,84);
  background: linear-gradient(180deg, rgba(36,15,84,1) 0%, rgba(68,11,200,1) 100%);
}

p {
  font-size: 1.1rem;
}

.opening {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  letter-spacing: 1px;
}

.nav {
  background: rgba(255, 255, 255, 0.219);
}

.nav-name {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  letter-spacing: 1px;
}